spring:
  application:
    name: open-resume-platform
  profiles:
    active: local
# Make the health endpoint always return details
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
logging:
  level:
    com:
      reynolds: DEBUG
document-generator-gateway-client:
    url: http://localhost:9000