services:
  front-end-react:
    build:
      context: ./frontend
      # Passing the API URL so React knows where to send requests
      args:
        - VITE_API_URL=http://localhost:8081
    container_name: resume-builder-frontend
    ports:
      - "80:80" # Map Windows 3000 to Nginx 80
    networks:
      - front-end_network
    depends_on:
      - resume-builder-portal

  resume-builder-portal:
    build: ./resume-builder-portal
    container_name: resume-builder-portal
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - resume_builder_portal_network
      - front-end_network
    ports:
      - "8081:8080"

  document-generator-gateway:
    build: ./document-generator-gateway
    container_name: document-generator-gateway
    mem_limit: 512m
    hostname: document-generator-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - resume_builder_portal_network
      - document-generator_network

  document-generator:
    build: ./pandoc-server
    container_name: pandoc_container
    mem_limit: 512m
    hostname: pandoc-server
    networks:
      - document-generator_network

networks:
  resume_builder_portal_network: {}
  document-generator_network: {}
  front-end_network: {}