services:
  document-generator-gateway:
    build: ./document-generator-gateway
    container_name: document-generator-gateway
    mem_limit: 512m
    hostname: document-generator-api
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
    networks:
      - document-generator_network

  document-generator:
    image: pandoc/core
    container_name: pandoc_container
    command: server
    mem_limit: 512m
    hostname: pandoc-server
    networks:
      - document-generator_network

networks:
  document-generator_network: {}