services:
  resume-builder-portal:
    build: ./resume-builder-portal
    container_name: resume-builder-portal
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - resume_builder_portal_network
    ports:
      - "8080:8080"

  document-generator-gateway:
    build: ./document-generator-gateway
    container_name: document-generator-gateway
    mem_limit: 512m
    hostname: document-generator-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - resume_builder_portal_network
      - document-generator_network

  document-generator:
    image: pandoc/core
    container_name: pandoc_container
    command: server
    mem_limit: 512m
    hostname: pandoc-server
    networks:
      - document-generator_network

networks:
  resume_builder_portal_network: {}
  document-generator_network: {}