services:
  document-generator-gateway:
    build: .
    container_name: document-generator-gateway
    mem_limit: 512m
    hostname: document-generator-api
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8080:8080"
