spring:
  application:
    name: open-resume-platform
  profiles:
    active: local
  threads:
    virtual:
      enabled: true
# Make the health endpoint always return details
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
logging:
  level:
    com:
      reynolds: DEBUG
server:
  port: 9000
pandoc-client-config:
    url: http://localhost:3030